manifest {
    homePage = 'https://github.com/FredHutch/gig-map'
    description = 'Build a map of genes present across a set of microbial genomes'
    mainScript = 'align_genomes.nf'
    version = '0.2.0'
}

profiles {
    standard {
        process {
            errorStrategy = 'retry'
            maxRetries = 5
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 30.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 16
                memory = 120.GB
            }
        }
    }
    smallmem {
        process {
            errorStrategy = 'retry'
            maxRetries = 5
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 30.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 8
                memory = 30.GB
            }
        }
    }
    testing {
        process {
            executor = 'local'
            errorStrategy = 'terminate'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 2
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 2
                memory = 4.GB
            }
        }
    }
}
docker {
    enabled = true
    temp = 'auto'
}

// Set default parameters
params {

    // Global
    help = false
    output = false

    // Download Genomes / Genes
    genome_csv = false
    parse_genome_csv_suffix = "_genomic.fna.gz"
    ftp_threads = 25
    skip_missing_ftp = "false"

    // Deduplicate genes
    genes = false
    cluster_similarity = 0.9
    cluster_coverage = 0.9
    min_gene_length = 50

    // Align Genes and Genomes
    genes = false
    genomes = false
    collect_results = true
    min_coverage = 90
    min_identity = 90
    aligner = 'diamond'
    query_gencode = 11
    max_evalue = 0.001
    max_overlap = 50
    aln_fmt = "qseqid sseqid pident length qstart qend qlen sstart send slen"

    // Collect
    genome_aln = false
    metagenome_aln = false
    gene_order = false
    marker_genes = false
    
    // ANI
    sketch_size = 10000
    ani_thresholds = "99,95,90,80,70,60,50"

    // Align Marker Genes
    min_marker_coverage = 90
    pick_marker_genes = 10
    raxml_model = "LG+G8+F"
    raxml_starting_trees = 10
    raxml_bs_trees = 10

    // Align Metagenomes
    single_end_fastq = false
    single_end_suffix = ".fastq.gz"
    paired_end_fastq = false
    paired_end_suffix = "_R{1,2}.fastq.gz"
    // Minimum alignment score 
    min_score_reads = 50
    // Minimum proportion of reads which must aligner
    min_coverage_reads = 50
    // Minimum percent identity for aligning reads
    min_pctiden_reads = 80
    // Resolve reads aligning to any gene with a score
    // that is no less than this percentage lower than
    // the top hit
    top_pct_reads = 5
    // Number of reads to resolve per batch with FAMLI
    famli_batchsize = 10000000
    // Filter out any genes for which the standard deviation
    // of sequencing depth across the length of the gene
    // exceeds this value
    famli_sd_mean_cutoff = 3.0

    // Render
    genome_aln = false
    genome_annot = false
    genome_distmat = false
    gene_annot = false
    render_options = "$projectDir/templates/render_params.json"
    render_mem_gbs = 4
    
    // Docker containers reused across processes
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:4a6179f"
    container__mashtree = "quay.io/hdc-workflows/mashtree:1.2.0"
    container__blast = "quay.io/biocontainers/blast:2.11.0--pl526he19e7b1_0"
    container__diamond = "quay.io/biocontainers/diamond:2.0.11--hdcc8f71_0"
    container__famli = "quay.io/fhcrc-microbiome/famli:v1.5"
    container__cdhit = "quay.io/biocontainers/cd-hit:4.8.1--h2e03b76_5"
    container__clustal = "quay.io/hdc-workflows/clustalo:main"
    container__emboss = "biocontainers/emboss:v6.6.0dfsg-7b1-deb_cv1"
    container__raxml = "quay.io/biocontainers/raxml-ng:1.0.3--h32fcf60_0"
    container__gigmap = "quay.io/hdc-workflows/gig-map:dcea871"

}
