manifest {
    homePage = 'https://github.com/FredHutch/gig-map'
    description = 'Build a map of genes present across a set of microbial genomes'
    mainScript = 'main.nf'
    version = '0.1.0'
}

profiles {
    standard {
        process {
            errorStrategy = 'retry'
            maxRetries = 5
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 30.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 16
                memory = 120.GB
            }
        }
    }
    testing {
        process {
            executor = 'local'
            errorStrategy = 'terminate'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 2
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 2
                memory = 4.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    docker {
        process {
            docker {
                enabled = true
                temp = 'auto'
            }
        }
    }
}

// Set default parameters
params {
    help = false
    output_folder = false
    genomes = false
    genes_fasta = false
    genes_dmnd = false
    genome_tables = false
    min_gene_length = false
    min_coverage = 90
    min_identity = 90
    aligner = 'diamond'
    ftp_threads = 25
    query_gencode = 11
    max_evalue = 0.001
    max_overlap = 50
    annotate_geneshot = false
    abundances_geneshot = false
    max_n_genes_train_pca = 20000
    max_pcs_tsne = 50
    sketch_size = 10000
    genome_distances = false
    ani_thresholds = "99,95,90,80,70,60,50"
    cluster_similarity = 0.9
    cluster_coverage = 0.9
    marker_genes = false
    min_marker_coverage = 90
    pick_marker_genes = 10
    raxml_model = "LG+G8+F"
    raxml_starting_trees = 10
    raxml_bs_trees = 10
}