manifest {
    homePage = 'https://github.com/FredHutch/gig-map'
    description = 'Build a map of genes present across a set of microbial genomes'
    mainScript = 'main.nf'
    version = '0.1.0'
}

profiles {
    standard {
        process {
            errorStrategy = 'retry'
            maxRetries = 5
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 4
                memory = 30.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 16
                memory = 120.GB
            }
        }
    }
    testing {
        process {
            executor = 'local'
            errorStrategy = 'terminate'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 2
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 2
                memory = 4.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    docker {
        process {
            docker {
                enabled = true
                temp = 'auto'
            }
        }
    }
}