dash-bootstrap-components>=1.0.0
dash-core-components>=1.9.1
dash-extensions
dash-html-components>=1.0.3
dash-renderer>=1.4.0
dash-table>=4.6.2
dash>=1.11.0
direct-redis
matplotlib
numpy>=1.19.5
pandas>=1.2.1
plotly
psutil
scikit-bio>=0.5.6
scikit-learn>=0.24.1
biopython
xarray>=0.16.2
git+https://github.com/FredHutch/menu-driven-figure.git@18c27d8
bitarray
tables
