workDir = "s3://work-bucket-name/work/"

docker.temp = '/var/lib/docker'

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        volumes = ['/var/lib/docker:/tmp:rw']
        maxTransferAttempts = 3
        maxParallelTransfers = 3
    }
    client {
        maxConnections = 4
    }
}